@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
::-webkit-scrollbar{
    display:none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
.card{
    border: none;
    
    
}
.nav-link{
    font-size: 20px;
    margin: 0px 10px;
}
.card-body{
    background-color: whitesmoke;
}

.card-img-top{
    padding: 20px;
    transition: 0.3s;
    height: 300px;
    object-fit: contain;
}
.card-img-top:hover{
    transform: scale(1.03);
    
}
a{
    text-decoration: none;
}
.alert-container{
    height: 50px;
   margin: 20px 0px;
}
.col-md-6 img{
    
    max-height: 400px;
    
}
.hero{
    height: 80vh;
    border-radius: 0px;
    
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width:768px) {
    .alert-container{
        position: absolute;
        width: 80%;
        top: 30%;
        
    }
    .col-md-2{
        
        margin: 10px auto;
    }
}

.cart-item:hover{
    background-color: whitesmoke;
}
#products,#product-details,#cart-container{
    min-height: 100vh;
}